<div class="container-fluid">
	<div class="row" style="margin-left:15px;">

		<div class="col-xs-1"><span class="glyphicon glyphicon-chevron-left" style="margin-top:80px; margin-right:5px;"></span></div>
		
		<div class="col-xs-4" id="card1" style="border: 2px solid #73AD21;" align="center">
			<img alt="pic" src="https://cdn4.iconfinder.com/data/icons/food-icons/128/hamburger.png" style="width:35pt;" onClick="toggle(1)">
		
			<input type="text" id="fi1" name="food1" value="Hamburger" style="margin-bottom:10px; width:85px;" onClick="toggle(1)" readonly>

			<div class="progress" style="margin-bottom:5px"> fat
				<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%" style="display:inline;">
			</div> </div>

			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
			protein </div> </div>
		</div>

		<div class="col-xs-4" id="card2" style="border: 2px solid gray;" align="center">
			<img alt="pic" src="http://www.tapiocaexpress.com/wp-content/uploads/2014/06/Tapioca-Milk-Tea.jpg" style="width:35pt;" onClick="toggle(2)">
		
			<input type="text" id="fi2" name="ignored" value="Milk Tea" style="margin-bottom:10px; width:85px;" onClick="toggle(2)" readonly>

			<div class="progress" style="margin-bottom:5px">
			<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:60%" style="display:inline;"> carbs
			</div> </div>

			<div class="progress"> caffeine
			<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:20%">
			</div> </div>
		</div>

		<div class="col-xs-1"><span class="glyphicon glyphicon-chevron-right" style="margin-top:80px; margin-left:-5px;"></span></div>
	
	</div>
</div>