<!-- most likely *unused* -->

<div id="overlay" style="margin-bottom:-10px;">\
	<!-- <img alt="pic" src="https://cdn4.iconfinder.com/data/icons/food-icons/128/hamburger.png" style="width:35pt; margin-right:5pt; margin-bottom:10px"> -->\
	\
	<h4 align="left">Nutrition Information</h4>\
	\
	<div class="progress"> fat\
		<div class="progress-bar progress-bar-success" style="width: 20%"></div>\
		<div class="progress-bar progress-bar-warning" style="width: 20%"></div>\
	</div>\
	\
	<div class="progress"> trans-fat\
		<div class="progress-bar progress-bar-success" style="width: 30%"></div>\
		<div class="progress-bar progress-bar-warning" style="width: 30%"></div>\
	</div>\
	\
	<div class="progress"> protein\
		<div class="progress-bar progress-bar-success" style="width: 10%"></div>\
		<div class="progress-bar progress-bar-warning" style="width: 10%"></div>\
	</div>\
	\
	<div class="progress"> fiber\
		<div class="progress-bar progress-bar-success" style="width: 25%"></div>\
		<div class="progress-bar progress-bar-warning" style="width: 25%"></div>\
	</div>\
</div>