<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="navbar-header" align="center">
			<div class="btn-group" role="group" aria-label="navbar">
				<a href="/">
					<button type="button" class="btn btn-default navbar-btn" aria-label="add">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
				</a>
					<a href="/suggest">
					<button type="button" class="btn btn-default navbar-btn" aria-label="suggest">
						<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
					</button>
				</a>
				<a href="/history">
					<button type="button" class="btn btn-default navbar-btn" aria-label="history">
						<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					</button>
				</a>
				<a href="/settings">
					<button type="button" class="btn btn-default navbar-btn" aria-label="settings">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</button>
				</a>
			</div>
		</div>
	</div>
</nav>

<!-- <div id="footer">
	<div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
	<div class="row" id="bottomNav">
		<div class="col-xs-3 text-center"><a href="/"><i class="glyphicon glyphicon-plus"></i></a></div>
		<div class="col-xs-3 text-center"><a href="/suggest"><i class="glyphicon glyphicon-flash"></i></a></div>
		<div class="col-xs-3 text-center"><a href="/history"><i class="glyphicon glyphicon-calendar"></i></a></div>
		<div class="col-xs-3 text-center"><a href="/settings"><i class="glyphicon glyphicon-cog"></i></a></div>
	</div>
	</div>
</div> -->