<div id="footer-wrapper">
	<div class="footer navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<a 
						type="button" 
						class="my-nav-footer-btn btn btn-lg btn-default {{#if page_home}} active {{/if}}" 
						{{#unless page_home}} href="/" {{/unless}}
					>
						<img src="http://i.imgur.com/jB7ZZzS.png" height="20">
						<br/>
						<!-- <p style="font-size:13px; margin-top:2px;">Enter<br/>a Meal</p> -->
					</a>
				</div>
				<div class="btn-group" role="group">
					<a 
						type="button" 
						class="my-nav-footer-btn btn btn-lg btn-default {{#if page_suggestions}} active {{/if}}" 
						{{#unless page_suggestions}} href="/suggest"{{/unless}}
					>
						<img src="http://i.imgur.com/JZ90TTN.png" height='20'>
						<br/>
						<!-- <p style="font-size:13px; margin-top:2px;">Suggest<br/>-ions</p> -->
					</a>
				</div>
				<div class="btn-group" role="group">
					<a 
						type="button" 
						class="my-nav-footer-btn btn btn-lg btn-default {{#if page_history}} active {{/if}}"
						{{#unless page_history}} href="/history" {{/unless}}
					>
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true" height="22"></span>
						<br/>
						<!-- <p style="font-size:13px; margin-top:2px;">Past<br/>Meals</p> -->
					</a>
				</div>
				<!-- <div class="btn-group" role="group">
					<a 
						type="button" 
						class="my-nav-footer-btn btn btn-lg btn-default {{#if page_settings}} active {{/if}}" 
						{{#unless page_settings}} href="/settings" {{/unless}}
					>
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						<br/>
					</a>
				</div> -->
			</div>
		</div>
	</div>
</div>

<!-- <nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="navbar-header" align="center">
			<div class="btn-group" role="group" aria-label="navbar">
				<a href="/" id="home-link">
					<button type="button" class="btn btn-default btn-sm navbar-btn" aria-label="add" id="home-iconbar">Add Meal
						<! <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> >
					</button>
				</a>
				<a href="/suggest" id="suggest-link">
					<button type="button" class="btn btn-default btn-sm navbar-btn" aria-label="suggest" id="suggest-iconbar">Suggestions
						<! <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> >
					</button>
				</a>
				<a href="/history" id="history-link">
					<button type="button" class="btn btn-default btn-sm navbar-btn" aria-label="history" id="history-iconbar">Past Meals
						<! <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> >
					</button>
				</a>
				<a href="/settings" id="settings-link">
					<button type="button" class="btn btn-default btn-sm navbar-btn" aria-label="settings" id="settings-iconbar">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</button>
				</a>
			</div>
		</div>
	</div>
</nav> -->