			</a>
			<p class="navbar-text navbar-right" style="margin-right:14px">
				<a href="/login" class="navbar-link" style="color:black">
					<span class="badge">Login</span></a></p>
		</div>
	</div>
</nav>