<div class="modal fade" id="popup-choice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
			<h4 class="modal-title" id="myModalLabel" align="center">Warning</h4>
		</div>
		<div class="modal-body" align="center">
			In the meal you're about to add, these foods
			<br/><b>Hamburger, Soda and Fries</b>
			<br/>may cause you to consume excess of
			<br/><b>Fats and Sodium</b>
			<br/><br/>
			Are you sure you want to log this meal?
		</div>
		<div class="modal-footer">
			<a href="/history"><button type="button" class="btn btn-default">Add anyway</button></a>
			<button type="button" class="btn btn-primary" data-dismiss="modal">Choose something else</button>
		</div>
	</div>
	</div>
</div>

<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
			<h4 class="modal-title" id="myModalLabel" align="center">Wizard of Oz</h4>
		</div>
		<div class="modal-body" align="center">
			Imagine you could simply "tell" your phone what you're eating, making the task of logging meals much simpler :)
		</div>
		<div class="modal-footer">
			<!-- <a href="/history"><button type="button" class="btn btn-default">Add anyway</button></a> -->
			<button type="button" class="btn" data-dismiss="modal">Dismiss</button>
		</div>
	</div>
	</div>
</div>