<div class="row"> <!-- align="center" -->
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail" id="overlay">
			<img id="snap" class="img-responsive img-rounded"
				src="https://d13yacurqjgara.cloudfront.net/users/1253/screenshots/1542208/flat-camera-icon.jpg" alt="..."
				data-toggle="modal" data-target="#soon">
			<div class="caption">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn" onclick="pic()">Take a Pic</button>
					<button type="button" class="btn btn-default" onclick="info()">Nutrition Info.</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<div class="media" align="center">
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Take a Pic</button>
	<div class="media-left" style="padding-top:5px;">
		<a href="#">
			<img class="img-responsive img-rounded" src="https://d13yacurqjgara.cloudfront.net/users/1253/screenshots/1542208/flat-camera-icon.jpg" alt="...">
		</a>
	</div>
	<! <div class="media-body">
		<h4 class="media-heading">Media Heading</h4>
		Description
	</div> >
</div> -->
