<!doctype html>

<html>
{{> html-header}}

<body>
	<!-- enter the page title between the partials -->
	{{> navbar}}
		What Are You Eating?
		<!-- voice input icon in a badge -->
		<span class="badge" data-toggle="modal" data-target="#popup" style="margin-left:140px;">
			<img src="http://uxrepo.com/download.php?img=static/icon-sets/google-material/svg/android-mic.svg" class="img-responsive" style="width:10px;">
		</span>
	{{> navbar-hack}}

	<div class="container" align="center" style="padding-top:4px;">

		<br/>

		<form id="addMealForm" role="form" method="get" action="/history">
			<!-- make pic clickable to upload "new" image -->
			<div>
				<div id="1">
					<span class="glyphicon glyphicon-plus-sign" style="margin-right:5px;" onClick="more()"></span>
					
					<input class="foods" type="text" placeholder="Main Course" name="food1" style="margin-bottom:5px;" onChange="update()">
					
					<input type="number" placeholder="Servings" name="servings1" min="1" style="width:80px;">
					
					<span class="glyphicon glyphicon-question-sign" style="margin-left:5px;"></span>
				
					<div id="2"></div>
				</div>
				
				<input type="text" id="datepicker" placeholder="Date of Meal" name="date">
				
				<select id="mealtype" name="t">
					<option value="Breakfast" selected>Breakfast</option>
					<option value="Brunch">Brunch</option>
					<option value="Lunch">Lunch</option>
					<option value="Dinner">Dinner</option>
					<option value="Snack">Snack</option>
				</select>
			</div>
			

			<div class="modal fade" id="popup-choice" {{> popup}}
				Warning
					</h4> </div> <div class="modal-body" align="center">
				The main course (first item) of this meal
				<br/><b id="list"></b>
				<br/>may cause you to consume excess of
				<br/><b>Fats and Sodium</b>
				<br/><br/>
				Are you sure you want to add it?
					</div> <div class="modal-footer">
				<input type="submit" id="submitBtn" class="btn btn-default" value="Add anyway"></input>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Choose something else
			{{> popup-hack}}
		</form>

		<br/>

		<!-- <input id="quantity" style="width:25px" maxlength="2" placeholder="x">
		<h5 style="display:inline;"> servings of </h5>
		<input id="tags" placeholder="food item"> -->

		{{> take-a-pic}} <!-- overlay (code in the corresponding partial) -->

		<!-- <h5 style="display:inline;">On </h5>
		<h5 style="display:inline;"> for </h5> -->

		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#popup-choice">Add Meal</button>

		<br/><br/>

		<!-- code for various popups follows; it mave be moved anywhere (maybe) -->

		<div class="modal fade" id="popup" {{> popup}}
			Wizard of Oz
				</h4> </div> <div class="modal-body" align="center">
			Imagine you could simply "tell" your phone what you're eating, making the task of logging meals much simpler :)
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Dismiss
		{{> popup-hack}}

		<div class="modal fade" id="soon" {{> popup}}
			Coming soon...
				</h4> </div> <div class="modal-body" align="center">
			You will be able to upload an image (or click one).
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Dismiss
		{{> popup-hack}}

	</div>

	{{> icon-panel}}

	<!-- stylesheet for datepicker; dunno if this should be somewhere else, like in header, or if it conflicts w/ anything -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>

	<!-- from website for datepicker -->
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<!-- our custom scripts that are pretty long or used in multiple places -->
	<script src="js/nutrition-check.js"></script>

	<!-- datepicker script -->
	<script>
		var availableFoods=["Chow Mein", "Chow Fun", "Fried Rice", "Brown Steamed Rice", "White Steamed Rice", "Mixed Vegetables", "Country Style Bean Curd", "Eggplant Tofu", "Hot Szechuan Tofu", "Black Pepper Chicken", "Kung Pao Chicken", "Grilled Teriyaki Chicken", "Grilled Asian Chicken", "Teriyaki Chicken", "Asian Chicken", "Mushroom Chicken", "Orange Chicken", "Potato Chicken", "Firecracker Chicken Breast", "String Bean Chicken Breast", "SweetFire Chicken Breast", "Sweet & Sour Chicken Breast", "Beijing Beef", "Broccoli Beef", "Shanghai Angus Steak", "Crispy Shrimp", "Honey Walnut Shrimp", "Golden Treasure Shrimp", "Steamed Ginger Fish", "Chicken Egg Roll", "Chicken Potsticker", "Cream Cheese Rangoon", "Vegetable Spring Roll", "Hot & Sour Soup", "Teriyaki Sauce", "Sweet & Sour Sauce", "Chili Sauce", "Soy Sauce", "Potsticker Sauce", "Fortune Cookies", "Chocolate Chip Chunk Cookie", "Pepsi", "Diet Pepsi", "Mountain Dew", "Dr. Pepper", "Mug Root Beer", "Sierra Mist", "Lipton No Calorie Brisk Peach", "Lipton Brisk Raspberry", "Sobe Lean", "Tropicana Fruit Punch", "Tropicana Lemonade", "Tropicana Pink Lemonade"];

		$(function() {
			$("#datepicker").datepicker();
			$(".foods").autocomplete({source: availableFoods});
		});
		
		function update() {
			// console.log(document.forms["addMealForm"]["food1"].value);
			if(document.forms["addMealForm"]["food1"].value == "" || document.forms["addMealForm"]["food1"].value == null){
				document.getElementById("list").innerHTML="No food entered...";
			} else {
				document.getElementById("list").innerHTML=document.forms["addMealForm"]["food1"].value;
			}
		}

		function more() {
			if(document.getElementById('2').innerHTML != "")
				if(document.getElementById('3').innerHTML != "")
					if(document.getElementById('4').innerHTML != "") {
						document.getElementById('5').innerHTML = 'Sorry! Limited to 4 food items per meal.';
						document.getElementById('5').setAttribute("style","margin-bottom:10px; color:red;");
						return;
					}
			for(i=1; i<=4; i++) {
				if(document.getElementById(i).innerHTML == ""){
					// console.log("next food item is #"+i);
					var food_item = '<input class="foods" type="text" placeholder="Food Item" name="food'+i+'" style="margin-bottom:5px;margin-right:5px;">';
					var servings = '<input type="number" placeholder="Servings" name="servings'+i+'" min="1" style="width:80px;">';
					// console.log(food_item +"\n"+ servings + '\n<div id="'+(i+1)+'"></div>');
					document.getElementById(i).innerHTML = food_item + servings + '<div id="'+(i+1)+'"></div>';
					$(".foods").autocomplete({source: availableFoods});
					
					break;
				}
			}
		}
	
		document.getElementById("home-iconbar").setAttribute("class","btn btn-secondary btn-sm navbar-btn");
		document.getElementById("home-link").setAttribute("href","#");
	</script>
</body>
</html>
