<!doctype html>

<html>
<head>
	<title>Nutrition Check</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/nutrition-check.css" rel="stylesheet">
</head>

<body>
	<!-- enter the page title between the partials -->
	{{> navbar}}
	What Are You Eating?
	<span class="badge" data-toggle="modal" data-target="#popup">
	<!-- <button type="button" class="btn" data-toggle="modal" data-target="#popup"> -->
	<img src="http://uxrepo.com/download.php?img=static/icon-sets/google-material/svg/android-mic.svg" class="img-responsive" style="width:10px;">
	<!-- </button> -->
	</span>
	{{> navbar-hack}}

	<br/>
	<div class="container" align="center" style="padding-top:4px;">
		
		<input id="quantity" value="approx. servings" style="width:120px">
		<h5 style="display:inline;"> of </h5>
		<input id="tags" value="food item">
		<span class="glyphicon glyphicon-plus-sign"></span>

		<br/><br/>

		<div class="row"> <!-- align="center" -->
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img id="snap" class="img-responsive img-rounded"
						src="https://d13yacurqjgara.cloudfront.net/users/1253/screenshots/1542208/flat-camera-icon.jpg" alt="..."
						data-toggle="modal" data-target="#soon">
					<div class="caption">
						<div class="btn-group" role="group" aria-label="...">
		<!-- > take-a-pic}} -->
		<a href="#"><button type="button" class="btn">Take a Pic</button></a>
		<a href="/i2"><button type="button" class="btn btn-default">Nutrition Info.</button></a>
		</div> </div> </div> </div> </div>

		<input type="text" id="datepicker" value="02/12/2016 (Today)">
		<h5 style="display:inline;"> for </h5>
		<input id="time" value="Lunch" style="width:90px">

		<br/><br/>

		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#popup-choice">Add Meal</button>

		<br/>

		{{> popup}}

	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="navbar-header" align="center">
				<div class="btn-group" role="group" aria-label="navbar">
					<a href="#">
						<button type="button" class="btn navbar-btn" aria-label="add">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</a>
						<a href="/suggest">
						<button type="button" class="btn btn-default navbar-btn" aria-label="suggest">
							<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
						</button>
					</a>
					<a href="/history">
						<button type="button" class="btn btn-default navbar-btn" aria-label="history">
							<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
						</button>
					</a>
					<a href="/settings">
						<button type="button" class="btn btn-default navbar-btn" aria-label="settings">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</button>
					</a>
				</div>
			</div>
		</div>
	</nav>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/nutrition-check.js"></script>
	<script>
		$(function() {
			var curr=$("#datepicker").datepicker();
		});
	</script>
</body>
</html>
