<!doctype html>

<html>
{{> html-header}}

<body>
	<!-- enter the page title between the partials -->
	{{> navbar}}
		What Are You Eating?
		<!-- voice input icon in a badge -->
		<span class="badge" data-toggle="modal" data-target="#popup">
			<img src="http://uxrepo.com/download.php?img=static/icon-sets/google-material/svg/android-mic.svg" class="img-responsive" style="width:10px;">
		</span>
	{{> navbar-hack}}

	<br/>
	<div class="container" align="center" style="padding-top:4px;">


		<input id="quantity" value="" style="width:25px" maxlength="2" placeholder="x">
		<h5 style="display:inline;"> servings of </h5>
		<input id="tags" value="" onChange="setValue(this.value)" placeholder="food item">
		<span class="glyphicon glyphicon-plus-sign"></span>


		<br/><br/>

		{{> take-a-pic}} <!-- overlay -->

		<h5 style="display:inline;">On </h5>
		<input type="text" id="datepicker" value="" placeholder="Date eaten">
		<h5 style="display:inline;"> for </h5>
		<select>
			<option disabled selected>--meal time--</option>
			<option value="breakfast">Breakfast</option>
			<option value="lunch">Lunch</option>
			<option value="dinner">Dinner</option>
			<option value="snack">Snack</option>
		</select>
		<!-- <input id="time" value="Lunch" style="width:90px"> -->

		<br/><br/>

		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#popup-choice">Add Meal</button>

		<br/>

		<div class="modal fade" id="popup-choice" {{> popup}}
			Warning
				</h4> </div> <div class="modal-body" align="center">
			In the meal you're about to add, these foods
			<br/><b>Hamburger, Soda and Fries</b>
			<br/>may cause you to consume excess of
			<br/><b>Fats and Sodium</b>
			<br/><br/>
			Are you sure you want to log this meal?
				</div> <div class="modal-footer">
			<a href="/history"><button type="button" class="btn btn-default">Add anyway</button></a>
			<button type="button" class="btn btn-primary" data-dismiss="modal">Choose something else
		{{> popup-hack}}

		<div class="modal fade" id="popup" {{> popup}}
			Wizard of Oz
				</h4> </div> <div class="modal-body" align="center">
			Imagine you could simply "tell" your phone what you're eating, making the task of logging meals much simpler :)
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Dismiss
		{{> popup-hack}}

		<div class="modal fade" id="soon" {{> popup}}
			Coming soon...
				</h4> </div> <div class="modal-body" align="center">
			You will be able to upload an image/take one directly (depending on what is supported by web browsers).
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Dismiss
		{{> popup-hack}}

	</div>

	{{> icon-panel}}

	<!-- stylesheet for datepicker; dunno if this should be somewhere else, like in header, or if it conflicts w/ anything -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>

 	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> <!-- From website for datepicker -->

	<script src="js/nutrition-check.js"></script>

	<!-- Datepicker script -->
	<script>
		$(function() {
    		$( "#datepicker" ).datepicker();
 		});
	</script>

	<!-- Trying to add user-inputted stuff to JSON (localStorage, not db yet) -->
	<script>

		function setValue(value){
			var textVal=value;//here u will get the entered text
		}

		// Check to see if browser supports local storage
		if(typeof(Storage) !== "undefined") {
		    // Code for localStorage/sessionStorage.
		    var obj = {"food": "", "color": "green"};

		    var food_item = document.getElementById("tags").value;
		    console.log(food_item);

			localStorage.setItem('myStorage', JSON.stringify(obj));

		} else {
		    // Sorry! No Web Storage support..
		    console.log("No Web Storage support");
		}
	</script>

	<script>
    	document.getElementById("home-iconbar").setAttribute("class","btn btn-secondary navbar-btn");
    	document.getElementById("home-link").setAttribute("href","#");
	</script>
</body>
</html>
