<!doctype html>

<html>
{{> html-header}}

<body>
	<!-- enter the page title between the partials -->
	{{> navbar}}
		What Are You Eating?
		<!-- voice input icon in a badge -->
		<span class="badge" data-toggle="modal" data-target="#popup">
			<img src="http://uxrepo.com/download.php?img=static/icon-sets/google-material/svg/android-mic.svg" class="img-responsive" style="width:10px;">
		</span>
	{{> navbar-hack}}

	<br/>
	<div class="container" align="center" style="padding-top:4px;">
		
		<input id="quantity" value="x" style="width:25px">
		<h5 style="display:inline;"> servings of </h5>
		<input id="tags" value="food item">
		<span class="glyphicon glyphicon-plus-sign"></span>

		<br/><br/>

		{{> take-a-pic}} <!-- overlay -->

		<input type="text" id="datepicker" value="02/12/2016 (Today)">
		<h5 style="display:inline;"> for </h5>
		<input id="time" value="Lunch" style="width:90px">

		<br/><br/>

		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#popup-choice">Add Meal</button>

		<br/>

		<div class="modal fade" id="popup-choice" {{> popup}}
			Warning
				</h4> </div> <div class="modal-body" align="center">
			In the meal you're about to add, these foods
			<br/><b>Hamburger, Soda and Fries</b>
			<br/>may cause you to consume excess of
			<br/><b>Fats and Sodium</b>
			<br/><br/>
			Are you sure you want to log this meal?
				</div> <div class="modal-footer">
			<a href="/history"><button type="button" class="btn btn-default">Add anyway</button></a>
			<button type="button" class="btn btn-primary" data-dismiss="modal">Choose something else
		{{> popup-hack}}

		<div class="modal fade" id="popup" {{> popup}}
			Wizard of Oz
				</h4> </div> <div class="modal-body" align="center">
			Imagine you could simply "tell" your phone what you're eating, making the task of logging meals much simpler :)
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Dismiss
		{{> popup-hack}}

		<div class="modal fade" id="soon" {{> popup}}
			Coming soon...
				</h4> </div> <div class="modal-body" align="center">
			You will be able to upload an image/take one directly (depending on what is supported by web browsers).
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Dismiss
		{{> popup-hack}}

	</div>

	{{> icon-panel}}

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/nutrition-check.js"></script>
	<script>
    	document.getElementById("home-iconbar").setAttribute("class","btn btn-secondary navbar-btn");
    	document.getElementById("home-link").setAttribute("href","#");
	</script>
</body>
</html>
