<!-- todo: handle failures, multiple heroku instances for each session -->

<!doctype html>

<html>
{{> html-header}}

<body>
	<div class="container">
		
		<br/>

		<div class="ui-widget" align="center">
			<h2>Nutravisor</h2>
		</div>

		<hr/>

		<h4 style="color:black;" align="center">New user? <i><a href="/welcome">Sign up!</a></i></h4>
		<br/>

		<!-- maybe have guest button appear? -->
		<form id="login" role="form" method="get" action="/">
			<div class="form-group">
				<input type="email" class="form-control" id="email" placeholder="Email" style="margin-bottom:7px;">
				<input name="username" id="username" hidden>
				<input type="password" class="form-control" id="password" placeholder="Password" name="hash" style="margin-bottom:7px;">
			</div>
			
			<p align="center">
				<input type="submit" id="submitBtn" class="btn btn-primary" value="Log in" onclick="s()"></input>
			</p>
		</form>

	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/common.js"></script>
	<script src="js/sha1.js"></script>
	<script>
		$("#password").change(function() {
			var hash = hex_sha1($(this).val());
			// this is not actually secure
			$(this).val(hash);
		});

		function s() {
			var username = $("#email").val().split("@")[0];
			$("#username").val(username);
		}
	</script>
</body>
</html>
