<!doctype html>

<html>
{{> html-header}}

<body>
	<div class="container">
		
		<br/>

		<div class="ui-widget" align="center">
			<h2> <i>Nutriplus</i> </h2>
		</div>

		<hr/>

		<h4 style="color:black;" align="center">New user? <i><a href="/welcome">Sign up!</a></i></h4>
		<br/>

		<form id="addFriendForm" role="form" method="get" action="/">
			<div class="form-group">
				<input type="email" class="form-control" id="email" placeholder="Email" name="email" style="margin-bottom:7px;">
				<input type="password" class="form-control" id="password" placeholder="Password" name="password" style="margin-bottom:7px;">
			</div>
			
			<p align="center">
				<input type="submit" id="submitBtn" class="btn btn-primary" value="Log in"></input>
			</p>
		</form>

	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/common.js"></script>
</body>
</html>
