<!doctype html>

<html>
{{> html-header}}

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Navigation (Hidden)</a>
			</div>
		</div>
	</nav>

	<br/>

	<div class="container" style="width:250px">

		<a href="/"><h4 align="center">Input meal</h4></a>
		<a href="/suggest"><h4 align="center">Suggested foods</h4></a>
		<a href="/history"><h4 align="center">Previous meals</h4></a>
		<a href="/settings"><h4 align="center">Settings</h4></a>
		
		<hr/>

		<!-- note: this is temporary as the menu will be an overlay -->
		<!-- <button onclick="goBack()">Go Back</button> -->
		<h2 onclick="goBack()" align="center">Back</h2>

		<br/>

	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/common.js"></script>
	<script> function goBack() { window.history.back(); } </script>
</body>
</html>
