<!doctype html>

<html>
<head>
	<title>Menu</title>	
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/nutrition-check.css" rel="stylesheet">
</head>

<body>
	<div class="container" style="width:250px" align="center">

		<br/>
		<h4>Nutrition Check</h4>

		<hr/>

		<a href="/"><h6>What are you eating?</h6></a>
		<a href="/suggest"><h6>Suggest something!</h6></a>
		<a href="/history"><h6>Previous Meals</h6></a>
		<a href="/settings"><h6>Settings</h6></a>
		
		<hr/>

		<a href="/logout"><h6 style="color:black">Logout</h6></a>

		<hr/>

		<!-- note: this is temporary as the menu will be an overlay -->
		<!-- <button onclick="goBack()">Go Back</button> -->
		<h4 onclick="goBack()">Back</h4>

		<br/>

	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/nutrition-check.js"></script>
	<script> function goBack() { window.history.back(); } </script>
</body>
</html>
