<!doctype html>

<html>
<head>
	<title>Nutrition Check</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/nutrition-check.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		
		<br/>

		<div class="ui-widget" align="center">
			<h2> Nutrition Check </h2>
		</div>

		<hr/>

		<h4>
			Name <input id="name" style="margin-bottom:6px;">
			
			<br/>
			
			<font color="white">...</font>Diet
				<select name="diet" style="width:220px;">
					<option value="vegan">Vegan</option>
					<option value="more">...</option>
				</select>
		</h4>

		<br/>

		<form id="addFriendForm" role="form" method="get" action="/">			
			<p align="center">
				<input type="submit" id="submitBtn" class="btn btn-primary" value="Get started!"></input>
			</p>
		</form>

	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/nutrition-check.js"></script>
</body>
</html>
