<!doctype html>

<html>
{{> html-header}}

<body>

	<br/>

	<div class="container" style="width:75%;">

		<h4 align="center">
			Name
			<input class="form-control" name="name" form="addFriendForm"
					style="margin-bottom:6px; margin-top:6px;" placeholder="Your Full Name Here">
			
			<br/>
			
			Daily Calorie Target
			<input class="form-control" id="target"
					style="margin-bottom:6px; margin-top:6px;" value="2000">

			<br/>

			Diet
			<select name="diet" class="form-control" style="margin-top:6px;">
				<option value="omnivore">Omnivore</option>
				<option value="vegan">Vegan</option>
				<option value="vegetarian">Vegetarian</option>
			</select>
		</h4>

		<br/>

		<form id="addFriendForm" role="form" method="get" action="/signup">			
			<p align="center">
				<input type="submit" id="submitBtn" class="btn btn-primary" value="Get started!"></input>
			</p>
		</form>

	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/common.js"></script>
</body>
</html>
