<!doctype html>

<html>
{{> html-header}}

<body>
	<div class="container">
		
		<br/>

		<div class="ui-widget" align="center">
			<h2>Nutravisor</h2>
		</div>

		<hr/>

		<h4 align="center">
			Name <input id="name" style="margin-bottom:6px;">
			
			<br/>
			
			<!-- <font color="white">...</font>Age <input id="name" style="margin-bottom:6px;"> -->

			<!-- <br/> -->

			Target <input id="target" style="margin-bottom:6px; width:80px;" value="2000"> calories/day

			<br/>

			<font color="white">...</font>Diet
				<select name="diet" style="width:210px;">
					<option value="omnivore">Omnivore</option>
					<option value="vegan">Vegan</option>
					<option value="vegetarian">Vegetarian</option>
				</select>
		</h4>

		<br/>

		<form id="addFriendForm" role="form" method="get" action="/">			
			<p align="center">
				<input type="submit" id="submitBtn" class="btn btn-primary" value="Get started!"></input>
			</p>
		</form>

	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/common.js"></script>
</body>
</html>
