<!doctype html>

<html>
{{> html-header}}

<body>
	{{> navbar}}
	Settings
	{{> navbar-hack}}

	<div class="container">

		<!-- <h6 align="center"> There will be options to set up reminders/notifications
			to fill in any meals the user might have forgotten to log here. </h6> -->

	</div>

	{{> icon-panel}}

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/nutrition-check.js"></script>
	<script>
    	document.getElementById("settings-iconbar").setAttribute("class","btn btn-secondary btn-sm navbar-btn");
    	document.getElementById("settings-link").setAttribute("href","#");
	</script>
</body>
</html>
