<!doctype html>

<html>
{{> html-header}}

<body>
	{{> navbar}}
	Settings
	{{> navbar-hack}}

	<div class="container">
		<h6 align="center">
			There will be options to set up reminders to fill in any meals
			the user might have forgotten to log (Wizard-of-Oz'd)
		</h6>

		<u>list of other options</u>:
		<br/> change nutrition factors shown
	</div>

	{{> icon-panel}}

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/common.js"></script>
</body>
</html>
