<!doctype html>

<html>
<head>
	<title>Nutrition Check</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/nutrition-check.css" rel="stylesheet">
</head>

<body>
	{{> navbar}}
	Settings
	{{> navbar-hack}}

	<div class="container">

		<h6 align="center"> There will be options to set up reminders/notifications
		to fill in any meals the user might have forgotten to log here. </h6>

	</div>

	{{> icon-panel}}

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/nutrition-check.js"></script>
</body>
</html>
