<!doctype html>

<html>
{{> html-header}}

<body>
	{{> navbar}}
	Suggested Foods
	{{> navbar-hack}}

	<div class="container" align="center">

		<br/>

		<!--<div class="col-lg-6" style="width:350px;">-->
			<div class="input-group">
				<!--  Old location button <input id="places" type="text" class="form-control" aria-label="my location" placeholder="Where are you eating?">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" data-toggle="modal" data-target="#popup">
						<span class="glyphicon glyphicon-glyphicon glyphicon-map-marker"></span>
					</button>
				</span>-->
		
				<h4>Choose a Restaurant:</h4>
			
				<form id="chooseRestaurantForm" role="form" method="get" action="/suggest">
					<select name="Restaurants" id="restaurantChoice" onClick="selectPlace()">
						<option value="--select--">--select--</option>
					    <option value="Rubios">Rubio's</option>
					    <option value="Panda Express">Panda Express</option>
				  	</select>	

			  	</form>
			</div>
		<!--</div>-->

		<script>
			function selectPlace() {
			   	var id = $(this).children(":selected").attr("value");
				// console.log(id);
				if(id == "Panda Express") {
					$("#rubios").hide();
					$("#panda").fadeIn();
					$(".suggestions").fadeIn();
				} else if(id == "Rubios") {
					$("#panda").hide();
					$("#rubios").fadeIn();
					$(".suggestions").fadeIn();
				}

			    //$var place = ("#Restaurants")
				//console.log(#restaurantChoice);
				$('#restaurantChoice').change(function() {
					console.log("id");
					var id = $(this).children(":selected").attr("value");
					console.log(id);
					if(id == "Panda Express"){
						$("#rubios").hide();
						$("#panda").fadeIn();
						$(".suggestions").fadeIn();
					} else if(id == "Rubios") {
						$("#panda").hide();
						$("#rubios").fadeIn();
						$(".suggestions").fadeIn();
					}
				});
			}
		</script>

		<br/>

		<div class="container-fluid" id="rubios" style="display:none;">
			<h5 style="color:#8382BF" align="center">You're low on protein! Here are some suggestions:</h5>

			<br/>
						<div class="row" style="margin-left:15px;">

							<div class="col-xs-1"><span class="glyphicon glyphicon-chevron-left" style="margin-top:80px; margin-right:5px;"></span></div>
							
							<div id="wholeCard1" onClick="toggle(1)">
								<div class="col-xs-4" id="card1" style="border: 4px solid #73AD21;" align="center">
									
								
									<h4>Grilled Atlantic Salmon Burrito</h4>
									<input type="hidden" id="fi1" name="food1"  onClick="toggle(1)" readonly>
									<!-- cap to 100%? -->
									<div class="progress" style="margin-bottom:5px"> fat
										<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%" style="display:inline;">
									</div> </div>

									<div class="progress" style="margin-bottom:5px">
										<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
									protein </div> </div>
								</div>
							</div>

							<div id="wholeCard2" onClick="toggle(2)">
								<div class="col-xs-4" id="card2" style="border: 4px solid lightgray;" align="center">
									
								
									<h4>Burrito Expecial With Chicken</h4>
									<input type="hidden" id="fi2" name="food2"  onClick="toggle(2)" readonly>

									<div class="progress" style="margin-bottom:5px">
									<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%" style="display:inline;"> fat
									</div> </div>

									<div class="progress" style="margin-bottom:5px"> protein
									<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
									</div> </div>
								</div>
							</div>

							<div class="col-xs-1"><span class="glyphicon glyphicon-chevron-right" style="margin-top:80px; margin-left:-5px;"></span></div>
						
						</div>
					</div>
				

		<div class="container-fluid" id="panda" style="display:none;">
			<h5 style="color:#8382BF" align="center">You're low on protein! Here are some suggestions:</h5>

			<br/>
						<div class="row" style="margin-left:15px;">

							<div class="col-xs-1"><span class="glyphicon glyphicon-chevron-left" style="margin-top:80px; margin-right:5px;"></span></div>
							
							<div id="wholeCard1" onClick="toggle(1)">
								<div class="col-xs-4" id="card1" style="border: 4px solid #73AD21;" align="center">
									
								
									<h4>Orange Chicken</h4>
									<input type="hidden" id="fi1" name="food1"  onClick="toggle(1)" readonly>
									<!-- cap to 100%? -->
									<div class="progress" style="margin-bottom:5px"> fat
										<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%" style="display:inline;">
									</div> </div>

									<div class="progress" style="margin-bottom:5px">
										<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
									protein </div> </div>
								</div>
							</div>

							<div id="wholeCard2" onClick="toggle(2)">
								<div class="col-xs-4" id="card2" style="border: 4px solid lightgray;" align="center">
									
								
									<h4>Beijing Beef</h4>
									<input type="hidden" id="fi2" name="food2"  onClick="toggle(2)" readonly>

									<div class="progress" style="margin-bottom:5px">
									<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%" style="display:inline;"> fat
									</div> </div>

									<div class="progress" style="margin-bottom:5px"> protein
									<div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
									</div> </div>

									
								</div>
							</div>

							<div class="col-xs-1"><span class="glyphicon glyphicon-chevron-right" style="margin-top:80px; margin-left:-5px;"></span></div>
						
						</div>
					</div>
					



		<div class="suggestions" style="display:none;">

			

			<form id="addSuggestedMealForm" role="form" method="get" action="/history">

				<br/>

				<div class="ui-widget">
					<input type="number" placeholder="Servings" name="servings1" min="1" style="width:120px; margin-bottom:10px;">
					
					<br/>

					<input type="text" id="datepicker" placeholder="Date of Meal" name="date">
					
					<!-- make these "bigger" -->
					<select id="mealtype" name="t" style="width:90px">
						<option value="Breakfast" selected>Breakfast</option>
						<option value="Brunch">Brunch</option>
						<option value="Lunch">Lunch</option>
						<option value="Dinner">Dinner</option>
						<option value="Snack">Snack</option>
					</select>

					<br/><br/>

					<input type="submit" id="submitBtn" class="btn btn-primary" value="Add Suggested Meal"></input>
				</div>
			</form>

			<br/>
		</div>
		
		<!-- <h5 style="display:inline;"> for </h5> -->

		{{> icon-panel}}

		<div class="modal fade" id="popup" {{> popup}}
			Choose Nearby Restaurant
				</h4> </div> <div class="modal-body">
			<input type="radio" name="group1" value="Rubios"> Rubio's<br>
			<input type="radio" name="group1" value="Panda Express"> Panda Express<br>
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Select
		{{> popup-hack}}

	</div>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="js/nutrition-check.js"></script>
	<script>
		$(function() {
			$("#datepicker").datepicker();
			$("#places").autocomplete({source: ["Rubios", "Panda Express"]});
		});

		function toggle(num) {
			if(num == 2) {
				console.log(document.getElementById("fi2").name);
				if (document.getElementById("fi2").name == "food1") {
					var random_color = '#'+Math.floor(Math.random()*16777215).toString(16);
					document.getElementById("card2").setAttribute("style","border: 4px solid "+random_color+";");
				} else {
					document.getElementById("card2").setAttribute("style","border: 4px solid #73AD21;");
					document.getElementById("card1").setAttribute("style","border: 4px solid lightgray;");
					document.getElementById("fi2").setAttribute("name","food1");
					document.getElementById("fi2").setAttribute("style","margin-bottom:10px; width:85px; background-color:#d1d1d1");
					document.getElementById("fi1").setAttribute("name","ignored");
					document.getElementById("fi1").setAttribute("style","margin-bottom:10px; width:85px;");
				}
			} else {
				if (document.getElementById("fi1").name == "food1") {
					var random_color = '#'+Math.floor(Math.random()*16777215).toString(16);
					document.getElementById("card1").setAttribute("style","border: 4px solid "+random_color+";");
				} else {
					document.getElementById("card1").setAttribute("style","border: 4px solid #73AD21;");
					document.getElementById("card2").setAttribute("style","border: 4px solid lightgray;");
					document.getElementById("fi1").setAttribute("name","food1");
					document.getElementById("fi1").setAttribute("style","margin-bottom:10px; width:85px; background-color:#d1d1d1;");
					document.getElementById("fi2").setAttribute("name","ignored");
					document.getElementById("fi2").setAttribute("style","margin-bottom:10px; width:85px;");
				}
			}
		}

    	document.getElementById("suggest-iconbar").setAttribute("class","btn btn-secondary btn-sm navbar-btn");
    	document.getElementById("suggest-link").setAttribute("href","#");
	</script>
</body>
</html>
