<!doctype html>

<html>
<head>
	<title>Suggest something!</title>	
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/nutrition-check.css" rel="stylesheet">
	<link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		
		<br/>
		<a href="menu" style="color:black"><span class="glyphicon glyphicon-th-list" style="margin-right:10pt;"></span></a>
		<h4 style="display:inline;"> Suggestions... </h4>

		<hr/>

		<p id="status" align="center"></p>

		<div class="col-lg-6" style="width:350px;" align="center">
			<h5 style="color:#8382BF"> Eating out? </h5>
			<div class="input-group" align="center">
				<input type="text" class="form-control" aria-label="my location" value="Nah! Suggest everything...">
				<span class="input-group-btn">
					<button class="btn btn-secondary" type="button"><a href="/popup" style="color:black"> Locate me! </a></button>
				</span>
			</div>
		</div>

		<br/>

		<h4 style="color:#8382BF" align="center">You're doing good. Feel free to indulge!</h4>

		<div id="card">
			<img alt="pic" src="https://cdn4.iconfinder.com/data/icons/food-icons/128/hamburger.png" style="width:35pt; margin-right:5pt; margin-bottom:10px">
			
			<h4 style="display:inline;">Hamburger</h4>

			<div class="progress"> fat
			<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%" style="display:inline;">
			</div>
			</div>

			<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"> protein
			</div>
			</div>

			<h6 style="color:gray"> (swipe card for more options) </h6>

		</div>

		<br/>

		<div class="ui-widget" align="center">
			<input id="quantity" value="1 serving" style="width:120px">
			<button onclick="demo()">Add</button>
		</div>

	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/nutrition-check.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
	<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
	<script>
		$(function() {
			var availableTags=["Hamburger", "Tofu", "Pocky", "Milano"];
			$("#tags").autocomplete({source: availableTags});
		});
	</script>
	<script> function demo() { $('#status').text("Added meal!"); } </script>
</body>
</html>
