<!doctype html>

<html>
{{> html-header}}

<body>
	{{> navbar}}
	Suggested Foods
	{{> navbar-hack}}

	<div class="container" align="center">

		<div id="location-message" style="display:none"></div>

		<br/>

		<div class="input-group">
			<input id="rest" type="text" class="form-control" aria-label="my location" placeholder="Choose a Restaurant">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" onclick="locate()">
					<span class="glyphicon glyphicon-map-marker"></span>
				</button>
			</span>
		</div>
		
		<div class="container-fluid" id="page" style="display:none;">
																	<!-- storytelling -->
			<!-- You're low on <span style="font-style:italic;">protein</span>. -->
			<h3 style="color:#8382BF; margin-bottom:1px;">Not enough meal history.</h3>
			<span style="color:gray">See random foods below.</span>
			<a onclick="source_suggestions('automatic')" style="color:black">Click for more!</a>
			<br/><br/>
			<div class="row" style="margin-left:10px;">
				<div onClick="toggle(1)">
					<div class="col-xs-5" id="card1" style="border: 4px solid lightgray;" align="center">
						<h4 id="food1-name"></h4>
						<input type="hidden" id="fi1" name="ignored" value="" form="addSuggestedMealForm" readonly>
						<!-- cap to 100%? -->
						<div id="explanation1A" style="margin-left:-10px; margin-right:-10px;"></div>
						<div class="progress" style="margin-bottom:5px" id="pb1A"> <span id="outside-metricA1">Metric A</span>
							<div id="food1-metricA" class="progress-bar" role="progressbar" style="width:0%; min-width:2em;" style="display:inline;">0%
							</div>
						</div>
						<div id="explanation1B"></div>
						<div class="progress" style="margin-bottom:5px" id="pb1B"> <span id="outside-metricB1">Metric B</span>
							<div id="food1-metricB" class="progress-bar" role="progressbar" style="width:0%; min-width:2em;">0%
							</div>
						</div>
					</div>
				</div>
				<div onClick="toggle(2)">
					<div class="col-xs-5" id="card2" style="border: 4px solid lightgray;" align="center">
						<h4 id="food2-name"></h4>
						<input type="hidden" id="fi2" name="ignored" value="" form="addSuggestedMealForm" readonly>
						<div id="explanation2A" style="margin-left:-10px; margin-right:-10px;"></div>
						<div class="progress" style="margin-bottom:5px" id="pb2A"> <span id="outside-metricA2">Metric A</span>
							<div id="food2-metricA" class="progress-bar" role="progressbar" style="width:0%; min-width:2em;" style="display:inline;">0%
							</div>
						</div>
						<div id="explanation2B"></div>
						<div class="progress" style="margin-bottom:5px" id="pb2B"> <span id="outside-metricB2">Metric B</span>
							<div id="food2-metricB" class="progress-bar" role="progressbar" style="width:0%; min-width:2em;">0%
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="suggestions form-group" style="display:none;">
			<br/>
			<form id="addSuggestedMealForm" role="form" method="get" action="/history">
				<!-- <input class="form-control" type="number" placeholder="Servings" name="servings1" min="1" style="width:120px; margin-bottom:5px;">
				<input class="form-control" type="text" id="datepicker" placeholder="Date of Meal" name="date" style="width:120px; margin-bottom:5px;">
				<label for="t" style="margin-bottom:-5px; font-variant:small-caps">Meal by time:</label>
				<select id="mealtype" class="form-control" name="t" style="width:120px">
					<option value="Breakfast" selected>Breakfast</option>
					<option value="Brunch">Brunch</option>
					<option value="Lunch">Lunch</option>
					<option value="Dinner">Dinner</option>
					<option value="Snack">Snack</option>
				</select>
				<br/> -->
				<input type="submit" id="submitBtn" class="btn btn-secondary" value="Add Suggested Meal"></input>
			</form>
			<br/>
		</div>

		{{> icon-panel}}

		<!-- <div class="modal fade" id="popup" {{> popup}}
			Choose Restaurant
				</h4> </div> <div class="modal-body">
			There are multiple restaurants detected in the vicinity:
			<br/> <b>Rubio's, Panda Express</b>
			<br/><br/> Please choose which one you would like to eat at in the dropdown.
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Dismiss
		{{> popup-hack}} -->

	</div>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="js/common.js"></script>
	<script>
		$("#rest").autocomplete({source: ["Rubio's", "Panda Express"], minLength: 0}).focus(function() {
					$(this).trigger(jQuery.Event('keydown')); $(this).select();
				});
		$("#datepicker").attr("value", today());

		var reqs = [2000, 65, 50, 25]; var temp; // might not work as intended
		function update_suggestions(result) {
			document.getElementById("food1-name").innerHTML = result["name"];
			$("#fi1").attr("value", result["name"]);
			var fp = parseInt((result["total_fat"]*100)/reqs[1]); // fP?
			var p = parseInt((result["protein"]*100)/reqs[2]);
			temp=fp+"% "+p+"% ";
			pb(p, "B", "Protein", 1);
			pb(fp, "A", "Fat", 1);
			var re = $("#rest")[0].value;
			if (re == "Rubio's") re = "Rubios";
			$.get("/data/dishes/"+re, update2);
		}
		function update2(result) {
			if(result.name == $("#fi1").attr("value")) {
				var re = $("#rest")[0].value;
				if (re == "Rubio's") re = "Rubios";
				$.get("/data/dishes/"+re, update2);
				// assuming not skipped again
				console.log(result.name+" repeated, showing "+
						$("#fi2").attr("value")+" instead");
				return;
			}
			document.getElementById("food2-name").innerHTML = result["name"];
			$("#fi2").attr("value", result["name"]);
			var f = parseInt((result["dietary_fiber"]*100)/reqs[3]);
			var p = parseInt((result["protein"]*100)/reqs[2]);
			// console.log(temp+f+"% "+p+"%");
			pb(f, "A", "Fiber", 2);
			pb(p, "B", "Protein", 2); // 60.5% bug
		}
		function source_suggestions(nutrient) {
			if (nutrient == 'random')
				ga('send','event','more-suggestions','click');
			var re = $("#rest")[0].value;
			if (re == "Rubio's") re = "Rubios";
			$.get("/data/dishes/"+re+"/"+nutrient, update_suggestions);
		}
		$('#rest').on("autocompletechange", function() {
			$("#location-message").fadeOut();
			source_suggestions('lacking-fiber');
			$("#page").fadeIn();
			$(".suggestions").fadeIn();
		});

		// todo: doubled %??
		function pb(pc, metric, nutrient, c) {
			var high = 59, low = 29; // protein
			if (nutrient == "Fat") { high = 75; low = 30; }

			$("#pb"+c+metric).hide();
			var exp = "<i>Daily values satisfied:</i> <br/> <b>"+nutrient+": "+pc+"%</b>";
			if(nutrient != "Fat" && nutrient != "Fiber")
				exp = nutrient+": "+pc+"%";
			document.getElementById("explanation"+c+metric).innerHTML = exp;

			if(pc > high) {
				document.getElementById("food"+c+"-metric"+metric).innerHTML = pc+"% "+nutrient;
				document.getElementById("outside-metric"+metric+c).innerHTML = "";
			} else if(pc < low) {
				document.getElementById("food"+c+"-metric"+metric).innerHTML = "";
				document.getElementById("outside-metric"+metric+c).innerHTML = pc+"% "+nutrient;
			} else {
				document.getElementById("food"+c+"-metric"+metric).innerHTML = pc+"%";
				document.getElementById("outside-metric"+metric+c).innerHTML = ""+nutrient;
			}

			document.getElementById("food"+c+"-metric"+metric).setAttribute("style", "width:"+pc+"%; min-width:1%; max-width:100%;");
		}

		// identify drinks and don't suggest them!

		function toggle(num) {
			ga("send","event","card","click",num);
			if(num == 2) {
				if (document.getElementById("fi2").name == "food1") {
					document.getElementById("card2").setAttribute("style","border: 4px solid lightgray;");
					document.getElementById("fi2").setAttribute("name","ignored");
				} else {
					document.getElementById("card2").setAttribute("style","border: 4px solid #73AD21;");
					document.getElementById("card1").setAttribute("style","border: 4px solid lightgray;");
					document.getElementById("fi2").setAttribute("name","food1");
					document.getElementById("fi1").setAttribute("name","ignored");
				}
			} else {
				if (document.getElementById("fi1").name == "food1") {
					document.getElementById("card1").setAttribute("style","border: 4px solid lightgray");
					document.getElementById("fi1").setAttribute("name","ignored");
				} else {
					document.getElementById("card1").setAttribute("style","border: 4px solid #73AD21;");
					document.getElementById("card2").setAttribute("style","border: 4px solid lightgray;");
					document.getElementById("fi1").setAttribute("name","food1");
					document.getElementById("fi2").setAttribute("name","ignored");
				}
			}
		}

		function locate() {
			$('#rest').val(""); // autofocus too?
			$('#rest').trigger(jQuery.Event('keydown'));
			// maybe: alert "box"
			document.getElementById("location-message").innerHTML = "<br/> There are multiple restaurants detected in the vicinity. Please choose where you would like to eat in the dropdown.";
			$("#location-message").fadeIn();
		}

		var logged_in = false;
		{{#if guest}}
			$(".navbar-link").attr("href", "/welcome");
			document.getElementsByClassName("badge")[0].innerHTML = "Signup";
		{{else}}
			{{#if name}}
				logged_in = true;
				document.getElementsByClassName("badge")[0].innerHTML = "Logout";
				$(".navbar-link").attr("onclick", "logout()");
				$(".navbar-link").attr("href", "");
			{{/if}}
		{{/if}}

		function logout() {
			$.get("/data/logout", refresh());
			function refresh() {
				window.location.href = '/login';
				return false;
			}
		}

    	// document.getElementById("suggest-iconbar").setAttribute("class","btn btn-secondary btn-sm navbar-btn");
    	// document.getElementById("suggest-link").setAttribute("href","#");
	</script>
	{{> google-analytics}}
</body>
</html>
