<!doctype html>

<html>
{{> html-header}}

<body>
	{{> navbar}}
	Suggestions
	{{> navbar-hack}}

	<div class="container">

		<br/>

		<div class="col-lg-6" style="width:350px;" align="center">
			<div class="input-group" align="center">
				<input type="text" class="form-control" aria-label="my location" placeholder="Where are you eating?">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" data-toggle="modal" data-target="#popup">
						<span class="glyphicon glyphicon-question-sign"></span>
					</button>
				</span>
			</div>
		</div>

		<br/>

		<h5 style="color:#8382BF" align="center">You're doing good. Feel free to indulge!</h5>

		<br/>

		<form id="addSuggestedMealForm" role="form" method="get" action="/history">
			{{> cards}} <!-- do nothing on refreshing /history? -->

			<br/>

			<div class="ui-widget" align="center">
				<input type="number" placeholder="Servings" name="servings1" min="1" style="width:120px; margin-bottom:10px;">
				
				<br/>

				<input type="text" id="datepicker" placeholder="Date of Meal" name="date">
				
				<!-- make these "bigger" -->
				<select id="mealtype" name="t" style="width:90px">
					<option value="Breakfast" selected>Breakfast</option>
					<option value="Brunch">Brunch</option>
					<option value="Lunch">Lunch</option>
					<option value="Dinner">Dinner</option>
					<option value="Snack">Snack</option>
				</select>

				<br/><br/>

				<input type="submit" id="submitBtn" class="btn btn-primary" value="Add Suggested Meal"></input>
			</div>
		</form>

		<br/>
		
		<!-- <h5 style="display:inline;"> for </h5> -->

		{{> icon-panel}}

		<div class="modal fade" id="popup" {{> popup}}
			Please wait...
				</h4> </div> <div class="modal-body" align="center">
			It's taking a bit longer than expected to find where you are.
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Dismiss
		{{> popup-hack}}

	</div>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="js/nutrition-check.js"></script>
	<script>
		$(function() {
			$( "#datepicker" ).datepicker();
		});

		function toggle(num) {
			if(num == 2) {
				document.getElementById("card2").setAttribute("style","border: 2px solid #73AD21;");
				document.getElementById("card1").setAttribute("style","border: 2px solid gray;");
				document.getElementById("fi2").setAttribute("name","food1");
				document.getElementById("fi1").setAttribute("name","ignored");
			}
			else {
				document.getElementById("card1").setAttribute("style","border: 2px solid #73AD21;");
				document.getElementById("card2").setAttribute("style","border: 2px solid gray;");
				document.getElementById("fi1").setAttribute("name","food1");
				document.getElementById("fi2").setAttribute("name","ignored");
			}
		}

    	document.getElementById("suggest-iconbar").setAttribute("class","btn btn-secondary btn-sm navbar-btn");
    	document.getElementById("suggest-link").setAttribute("href","#");
	</script>
</body>
</html>
