<!doctype html>

<html>
{{> html-header}}

<body>
	{{> navbar}}
	Suggestions
	{{> navbar-hack}}

	<div class="container">

		<br/>
		<div class="col-lg-6" style="width:350px;" align="center">
			<div class="input-group" align="center">
				<input type="text" class="form-control" aria-label="my location" value="Where are you eating *today*?">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" data-toggle="modal" data-target="#popup">Locate me!</button>
				</span>
			</div>
		</div>

		<br/>

		<h5 style="color:#8382BF" align="center">You're doing good. Feel free to indulge!</h5>

		<br/>

		<div class="container-fluid">
			<div class="row" style="margin-left:15px;">
				<div class="col-xs-1"><span class="glyphicon glyphicon-chevron-left" style="margin-top:80px; margin-right:5px;"></span></div>
				<div class="col-xs-4" id="card" align="center" style="margin-left:10px;">
					<img alt="pic" src="https://cdn4.iconfinder.com/data/icons/food-icons/128/hamburger.png" style="width:35pt;">
				
					<h4>Hamburger</h4>

					<div class="progress"> fat
					<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%" style="display:inline;">
					</div> </div>

					<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"> protein
					</div> </div>
				</div>
				<div class="col-xs-4" id="card" align="center" style="margin-left:5px;">
					<img alt="pic" src="https://cdn4.iconfinder.com/data/icons/food-icons/128/hamburger.png" style="width:35pt;">
				
					<h4>Hamburger</h4>

					<div class="progress"> fat
					<div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%" style="display:inline;">
					</div> </div>

					<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"> protein
					</div> </div>
				</div>
				<div class="col-xs-1"><span class="glyphicon glyphicon-chevron-right" style="margin-top:80px; margin-left:-5px;"></span></div>
			</div>
		</div>

		<br/><br/>

		<div class="ui-widget" align="center">
			<input id="quantity" value="1 serving" style="width:120px">
			<h5 style="display:inline;"> for </h5>
			<input id="time" value="Lunch" style="width:90px">
			<a href="/history"><button type="button" class="btn btn-primary">Add</button></a>
		</div>

		{{> icon-panel}}

		<div class="modal fade" id="popup" {{> popup}}
			Please wait...
				</h4> </div> <div class="modal-body" align="center">
			It's taking a bit longer than expected to find where you are.
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Dismiss
		{{> popup-hack}}

	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/nutrition-check.js"></script>
	<script>
    	document.getElementById("suggest-iconbar").setAttribute("class","btn btn-secondary btn-sm navbar-btn");
    	document.getElementById("suggest-link").setAttribute("href","#");
	</script>
</body>
</html>
