<!doctype html>

<html>
{{> html-header}}

<body>
	{{> navbar}}
	Suggested Foods
	{{> navbar-hack}}

	<div class="container" align="center">

		<br/>

		<div class="col-lg-6" style="width:350px;">
			<div class="input-group">
				<!--  Old location button <input id="places" type="text" class="form-control" aria-label="my location" placeholder="Where are you eating?">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" data-toggle="modal" data-target="#popup">
						<span class="glyphicon glyphicon-glyphicon glyphicon-map-marker"></span>
					</button>
				</span>-->
		
				<h4>Choose a Restaurant:</h4>
			
				<select name="Restaurants" onClick="selectPlace()">
				    <option value="Rubios">Rubio's</option>
				    <option value="Panda Express">Panda Express</option>
			  	</select>
			
			</div>
		</div>

		<script>
			function selectPlace() {
			    $(".suggestions").fadeIn();  
			}
		</script>

		<br/>

		<div class="suggestions" style="display:none;">

			<h5 style="color:#8382BF" align="center">You're low on protein! Here are some suggestions:</h5>

			<br/>

			<form id="addSuggestedMealForm" role="form" method="get" action="/history">
				{{> cards}} <!-- do nothing on refreshing /history? -->

				<br/>

				<div class="ui-widget">
					<input type="number" placeholder="Servings" name="servings1" min="1" style="width:120px; margin-bottom:10px;">
					
					<br/>

					<input type="text" id="datepicker" placeholder="Date of Meal" name="date">
					
					<!-- make these "bigger" -->
					<select id="mealtype" name="t" style="width:90px">
						<option value="Breakfast" selected>Breakfast</option>
						<option value="Brunch">Brunch</option>
						<option value="Lunch">Lunch</option>
						<option value="Dinner">Dinner</option>
						<option value="Snack">Snack</option>
					</select>

					<br/><br/>

					<input type="submit" id="submitBtn" class="btn btn-primary" value="Add Suggested Meal"></input>
				</div>
			</form>

			<br/>
		</dib>
		
		<!-- <h5 style="display:inline;"> for </h5> -->

		{{> icon-panel}}

		<div class="modal fade" id="popup" {{> popup}}
			Choose Nearby Restaurant
				</h4> </div> <div class="modal-body">
			<input type="radio" name="group1" value="Rubios"> Rubio's<br>
			<input type="radio" name="group1" value="Panda Express"> Panda Express<br>
				</div> <div class="modal-footer">
			<button type="button" class="btn" data-dismiss="modal">Select
		{{> popup-hack}}

	</div>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="js/nutrition-check.js"></script>
	<script>
		$(function() {
			$("#datepicker").datepicker();
			$("#places").autocomplete({source: ["Rubios", "Panda Express"]});
		});

		function toggle(num) {
			if(num == 2) {
				console.log(document.getElementById("fi2").name);
				if (document.getElementById("fi2").name == "food1") {
					var random_color = '#'+Math.floor(Math.random()*16777215).toString(16);
					document.getElementById("card2").setAttribute("style","border: 4px solid "+random_color+";");
				} else {
					document.getElementById("card2").setAttribute("style","border: 4px solid #73AD21;");
					document.getElementById("card1").setAttribute("style","border: 4px solid lightgray;");
					document.getElementById("fi2").setAttribute("name","food1");
					document.getElementById("fi2").setAttribute("style","margin-bottom:10px; width:85px; background-color:#d1d1d1");
					document.getElementById("fi1").setAttribute("name","ignored");
					document.getElementById("fi1").setAttribute("style","margin-bottom:10px; width:85px;");
				}
			} else {
				if (document.getElementById("fi1").name == "food1") {
					var random_color = '#'+Math.floor(Math.random()*16777215).toString(16);
					document.getElementById("card1").setAttribute("style","border: 4px solid "+random_color+";");
				} else {
					document.getElementById("card1").setAttribute("style","border: 4px solid #73AD21;");
					document.getElementById("card2").setAttribute("style","border: 4px solid lightgray;");
					document.getElementById("fi1").setAttribute("name","food1");
					document.getElementById("fi1").setAttribute("style","margin-bottom:10px; width:85px; background-color:#d1d1d1;");
					document.getElementById("fi2").setAttribute("name","ignored");
					document.getElementById("fi2").setAttribute("style","margin-bottom:10px; width:85px;");
				}
			}
		}

    	document.getElementById("suggest-iconbar").setAttribute("class","btn btn-secondary btn-sm navbar-btn");
    	document.getElementById("suggest-link").setAttribute("href","#");
	</script>
</body>
</html>
