<!doctype html>

<html>
<head>
	<title>Nutrition Check</title>	
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/nutrition-check.css" rel="stylesheet">
	<link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		
		<br/>

		<div class="ui-widget" align="center">
			<h4>
				Hello <input id="name" value="<your name here>"> !
				<br/><br/>
				Any special diet to choose from?
				<select name="diet">
					<option value="usual">Nothing Special</option>
					<option value="vegan">Vegan</option>
					<option value="more">More options...</option>
				</select>
			</h4>
		</div>

		<hr/>

		<form id="addFriendForm" role="form" method="get" action="/"> <!-- /add -->
			<div class="form-group">
				<input type="email" class="form-control" id="email" placeholder="Email" name="email">
			</div>
			
			<div class="form-group">
				<!-- check password input: this was just a lucky guess -->
				<input type="password" class="form-control" id="password" placeholder="Password" name="password">
			</div>
			
			<p align="center"><input type="submit" id="submitBtn" class="btn btn-default" value="Sign-up"></input></p>
		</form>

	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/nutrition-check.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
	<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
	<script>
		$(function() {
			var availableTags=["Hamburger", "Tofu", "Pocky", "Milano"];
			$("#tags").autocomplete({source: availableTags});
		});
	</script>
</body>
</html>
