h4, h5 {
	color: #A87676;
}

h2, h6 {
	color: #8382BF;
}

#card1 {
	padding: 15px;
	border-radius: 20px;
	margin-left:10px;
}

#card2 {
	padding: 15px;
	border-radius: 20px;
	margin-left:5px;
}

body {
	padding-top: 55px;
	padding-bottom: 50px;
}